@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
* {
    box-sizing: border-box;
}

body {
    background: url(https://subtlepatterns.com/patterns/little_pluses.png) #cacaca;
}

#create,
textarea {
    float: left;
    padding: 25px 25px 40px;
    margin: 0 20px 20px 0;
    width: 250px;
    height: 250px;
}

#create {
    user-select: none;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 15px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.1);
    font: 220px "Helvetica", sans-serif;
    line-height: 185px;
}

#create:hover {
    border-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

textarea {
    font: 20px 'Gloria Hallelujah', cursive;
    line-height: 1.5;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    max-width: 520px;
    max-height: 250px;
}

textarea:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

textarea:focus {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    font: 60px 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

.singleNote {
    margin-top: 20%;
}

.margin {
    font: 15px 'Gloria Hallelujah', cursive;
    margin-top: 10%;
    width: 80px;
    border-radius: 200px;
}


/*LOGIN CSS*/

.input_style {
    border: 1px solid #9C9C9C;
    border-radius: 3px;
    height: 28px;
    width: 45%;
    background-color: #FAF8F7;
}

.login_input {
    font: 15px 'Gloria Hallelujah', cursive;
    border-radius: 200px;
    margin-top: 3%;
    text-align: center;
}

#card {
    margin-top: 10%;
    opacity: 0.8;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.div {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    border: black;
}

.wel {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.margin_ {
    font: 15px 'Gloria Hallelujah', cursive;
    margin-top: 2%;
    width: 80px;
    border-radius: 200px;
}

#title_container {
    background: url(https://subtlepatterns.com/patterns/little_pluses.png) #cacaca;
    padding: 15px;
}

.margin_div {
    margin: 30px;
}


/*------------------*/

ul {
    position: absolute;
    top: calc(45% - 30%);
    left: calc(75% - 30%);
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
}

ul li {
    list-style: none;
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
}

ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 100%;
    animation: animate 3.3s linear infinite;
}

ul li:nth-child(1) {
    transform: rotate(0deg);
}

ul li:nth-child(1):before {
    animation-delay: 0s;
    background: #F96161;
}

ul li:nth-child(2) {
    transform: rotate(90deg);
}

ul li:nth-child(2):before {
    animation-delay: 0.4s;
    background: #6ce5c0;
}

ul li:nth-child(3) {
    transform: rotate(270deg);
}

ul li:nth-child(3):before {
    animation-delay: 1.2s;
    background: #5bcedf;
}

ul li:nth-child(4) {
    transform: rotate(180deg);
}

ul li:nth-child(4):before {
    animation-delay: 0.8s;
    background: #FFEC78;
}

@keyframes animate {
    0% {
        transform: perspective(200px) rotateX(0deg);
        opacity: 0;
    }
    10% {
        transform: perspective(200px) rotateX(-180deg);
        opacity: 0;
    }
    25% {
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    75% {
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    90% {
        transform: perspective(200px) rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: perspective(200px) rotateY(0deg);
        opacity: 0;
    }
}


/*-------------------------*/


/* TABLE COLORS*/

.button1 {
    background-color: #ba002e;
}

.button2 {
    background-color: #008CBA;
}

.button3 {
    background-color: #f44336;
}

.button4 {
    background-color: #2e0950;
}

.button5 {
    background-color: #555555;
}

.button6 {
    background-color: #6e8c96;
}

.button7 {
    background-color: #00ba28;
}

.button8 {
    background-color: #ba0092;
}